
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center hadif-purple">{{ 'Notifications' | translate }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 panel-left-content notifs text-right">
        <p>Some texted notification.</p>
        <p>Some random notification from administrator.</p>
        <p>This is very long long long long long long notification from user that adores your videos and would like to subscribe to your channel.</p>
      </div>
    </div>
