.hadif-thumb img.img-responsive {
    width: 100%;
}
/* Responsive Grid */

@media (max-width: 767px) {
	.logo {
		position: static;
		padding: 10px 0;
		float: left;
	}
	.hadif-menu {
		height: auto;
	    background: #ED3C8B;
	    background: -webkit-linear-gradient(45deg, #1AB0BF, #ED3C8B);
	    background: -o-linear-gradient(45deg, #1AB0BF, #ED3C8B);
	    background: -moz-linear-gradient(45deg, #1AB0BF, #ED3C8B);
	    background: linear-gradient(45deg, #1AB0BF, #ED3C8B);
	}
	.header-gradient {
		display: none;
	}
	.hadif-menu ul {
		width: 80%;
	}
	.hadif-menu ul li {
		width: 30px;
	}
	.border-abs {
		width: 60px;
		height: 60px;
	}
	.hadif-sidebar {
		padding-left: 20px;
	}
	.navbar-header {
		margin-top: 10px;
	}
	.navbar-collapse {
	    float: right;
	    width: 100%;
	    text-align: center;
	}
	.profile-edit-step, .change-avatar-holder, .password-holder, .billing-holder, .creditcard-holder {
		display: none;
		position:static;
	}
	.panel-left {
		min-height: auto;
	}
	.navbar-collapse ul {
	    padding: 0;
	    width: auto;
	    margin:0;
	    display: block;
	}
	.navbar-collapse ul li {
		margin: 15px 0;
		/* float: none; */
		margin:0;
		width: 20%;
		display: block;
	    -webkit-margin-before: 20px;
	    -webkit-margin-after: 20px;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	}
	.navbar-header .navbar-toggle {
		border: 1px solid #fff;
		margin-right: 0;
	}
	.navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.prof-avatar img {
		margin:0;
	}
	/* .border-abs {
		display: none;
	} */
	.switcher {
		float: none;
		margin:0;
	}
	.prof-avatar {
		margin-top: 20px;
	    margin-bottom: 30px;
	}
	.prof-avatar .pr0 {
		padding-left: 20px;
	}
}


@media (max-width: 480px) {
	.footer-social li {
		display: inline-block;
	}
	.footer-social li a {
		float: none;
	}
	.lang-pick {
		text-align: center;
	}
	.lang-pick div {
		display: inline-block;
		margin:0 15px;
	}
	.lang-pick div a {
		float: none;
	}
	.hadif-drop .dropdown-menu {
		width: 290px;
	}
	.choose-feeling {
		z-index: 999;
	}
	.choose-feeling ul{
		background: #fff;
		border-radius: 5px;
		overflow: hidden;
		margin-right: 5px;
	}
	.choose-feeling label {
		font-size: 25px;
	}
	.profile-edit-step, .change-avatar-holder, .password-holder, .billing-holder, .creditcard-holder {
		display: none;
		position:static;
	}
	.profile-edit-step, .change-avatar-holder, .password-holder, .billing-holder, .creditcard-holder {
		padding:0;
	}
	.panel-left {
		min-height: auto;
	}
	.prof-avatar img {
		margin:0;
	}
	.holders-flying {
		display: block;
	}
	.move-next {
		margin-top: -9px;
	}
	.panel-left h2 {
		padding:0 20px;
	}
	.avatars-content ul {
		padding:0;
	}
	.avatars-content ul li {
		margin: 0 7px;
	}
	.like-options {
		padding:0;
		top:20%;
		width: 100%
	}
	.like-options li {
		margin:0 3px;
	}
	.like-options li img{
		width: 40px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.hadif-menu ul {
		width: 80%;
	}
	.hadif-menu ul li {
		width: 30px;
	}
	.logo-ab {
		//left: 10px;
	}
	.border-abs {
		width: 60px;
		height: 60px;
	}
	.hadif-sidebar {
		padding-left: 20px;
	}
	.prof-avatar img {
		margin:0;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}

	.hadif-menu ul li {
		width: 40px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.hadif-menu ul li {
		width: 80px;
	}
	.hadif-menu ul {
		width: 60%;
	}
}