
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center hadif-purple">{{"Reminders" | translate }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 reminder-panel panel-left-content">
        <div class="each-reminder hadif-drop">
          <a class="user-option dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{'Reminder Time' | translate }} </a>
          <ul class="hadif-purple dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><input type="radio" id="remainder-time-1" name="remainder-time" value="VALUE"><label for="remainder-time-1">12:45</label></li>
            <li><input type="radio" id="remainder-time-2" name="remainder-time" value="VALUE"><label for="remainder-time-2">17:00</label></li>
            <li><input type="radio" id="remainder-time-3" name="remainder-time" value="VALUE"><label for="remainder-time-3">18:45</label></li>
            <li><input type="radio" id="remainder-time-4" name="remainder-time" value="VALUE"><label for="remainder-time-4">19:30</label></li>
          </ul>
          <span class="titled-reminder">Channel Name</span>
          <div class="clearfix"></div>
        </div>
        <div class="each-reminder hadif-drop">
          <a class="user-option dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{'Reminder Time' | translate }}</a>
          <ul class="hadif-purple dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><input type="radio" id="remainder-time-1" name="remainder-time" value="VALUE"><label for="remainder-time-1">12:45</label></li>
            <li><input type="radio" id="remainder-time-2" name="remainder-time" value="VALUE"><label for="remainder-time-2">17:00</label></li>
            <li><input type="radio" id="remainder-time-3" name="remainder-time" value="VALUE"><label for="remainder-time-3">18:45</label></li>
            <li><input type="radio" id="remainder-time-4" name="remainder-time" value="VALUE"><label for="remainder-time-4">19:30</label></li>
          </ul>
          <span class="titled-reminder">Channel Name</span>
          <div class="clearfix"></div>
        </div>
        <div class="each-reminder hadif-drop">
          <a class="user-option dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{'Reminder Time' | translate }}</a>
          <ul class="hadif-purple dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><input type="radio" id="remainder-time-1" name="remainder-time" value="VALUE"><label for="remainder-time-1">12:45</label></li>
            <li><input type="radio" id="remainder-time-2" name="remainder-time" value="VALUE"><label for="remainder-time-2">17:00</label></li>
            <li><input type="radio" id="remainder-time-3" name="remainder-time" value="VALUE"><label for="remainder-time-3">18:45</label></li>
            <li><input type="radio" id="remainder-time-4" name="remainder-time" value="VALUE"><label for="remainder-time-4">19:30</label></li>
          </ul>
          <span class="titled-reminder">Channel Name</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
